<nav
  [ngClass]="{
    'w-52 xl:w-64' : menuService.showSideBar,
    'w-[70px]': !menuService.showSideBar,
    '!translate-x-0': menuService.mobileSidebar
  }"
  class="scrollbar-thumb-rounded -translate-x-full top-0 fixed lg:relative lg:translate-x-0 scrollbar-track-rounded h-full flex-col justify-between overflow-auto bg-background pt-3 transition-all duration-300 scrollbar-thin scrollbar-track-transparent scrollbar-thumb-card lg:flex">
  <div class="px-4">
    <app-sidebar-menu></app-sidebar-menu>
  </div>
</nav>
