<tui-root>
  <!-- content of your app -->
  <div class="flex flex-col h-screen w-full overflow-hidden">
    <!-- Header -->
    <app-navbar></app-navbar>
    <div class="flex-1 flex grow content-start overflow-hidden">
      <!-- Sidebar -->
      <app-sidebar></app-sidebar>
      <!-- main content -->
      <div
        id="main-content"
        class="scrollbar-thumb-rounded scrollbar-track-rounded grow overflow-auto scrollbar-thin scrollbar-track-transparent">
        <div class="mx-auto px-4 sm:px-8">
          <app-page-title />
          <router-outlet></router-outlet>
        </div>
      </div>
  
    </div>
  </div>

  <!--
     If you need, you can add something between Taiga portal layers:
    -->
  <ng-container ngProjectAs="tuiOverContent">
    <!-- Content over app content -->
  </ng-container>
  <ng-container ngProjectAs="tuiOverDialogs">
    <!-- Content over dialogs -->
  </ng-container>
  <ng-container ngProjectAs="tuiOverAlerts">
    <!-- Content over alerts -->
  </ng-container>
  <ng-container ngProjectAs="tuiOverDropdowns">
    <!-- Content over dropdowns -->
  </ng-container>
  <ng-container ngProjectAs="tuiOverHints">
    <!-- Content over hints -->
  </ng-container>
</tui-root>
